@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  width: 85%;
  height: 100vh;
  padding: 4rem 1.5rem 0 1.5rem;
}

main h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #969696;
  margin-bottom: 0.5rem;
}

main h1 strong {
  color: #151f29;
}

main h2 {
  font-weight: 300;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  text-align: left;
}

main form .inpt-par {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

main form input {
  border: 1px solid #dbe5ff;
  border-radius: 2rem;
  outline: none;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
  padding: 0.8rem 1.7rem;
  width: 100%;
  max-width: 100%;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

main form input::-webkit-input-placeholder {
  color: #969696;
}

main form input:-ms-input-placeholder {
  color: #969696;
}

main form input::-ms-input-placeholder {
  color: #969696;
}

main form input::placeholder {
  color: #969696;
}

main form input.error::-webkit-input-placeholder {
  color: #ff5263;
}

main form input.error:-ms-input-placeholder {
  color: #ff5263;
}

main form input.error::-ms-input-placeholder {
  color: #ff5263;
}

main form input.error::placeholder {
  color: #ff5263;
}

main form input:focus {
  -webkit-box-shadow: 2px 5px 5px rgba(194, 211, 255, 0.4);
          box-shadow: 2px 5px 5px rgba(194, 211, 255, 0.4);
}

main form input.error {
  border-color: #ff5263;
}

main form button {
  background: #4f7df3;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 0.8rem 3rem;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 7px rgba(194, 211, 255, 0.6);
          box-shadow: 0px 8px 7px rgba(194, 211, 255, 0.6);
  -webkit-transition: 0.1s cubic-bezier(0.74, 1.21, 1, 1) all;
  transition: 0.1s cubic-bezier(0.74, 1.21, 1, 1) all;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main form button:hover {
  background: #668ff4;
}

main form button:active {
  -webkit-box-shadow: 0px 5px 5px rgba(194, 211, 255, 0.5);
          box-shadow: 0px 5px 5px rgba(194, 211, 255, 0.5);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main form .error-msg {
  color: #ff5263;
  font-style: italic;
  font-size: 0.8rem;
  padding-left: 2rem;
  margin-top: 0.8rem;
  visibility: hidden;
}

main form.error {
  display: inline-block;
}

main .img {
  max-width: 100%;
  margin: 4rem 0 2rem 0;
}

main .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

main .social li {
  margin: 1rem 1rem 0.5rem 0;
}

main .social li a {
  text-decoration: none;
  color: #4f7df3;
  border-radius: 50%;
  border: 1px solid #c2d3ff;
  font-size: 1.2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}

main .social li a .fab {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

main .social li a:hover {
  background: #4f7df3;
  color: white;
  border-color: #4f7df3;
}

main footer {
  margin-bottom: 1rem;
}

main footer p {
  color: gray;
  font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
  main {
    margin: 4rem auto 0.5rem auto;
  }
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main form .inpt-par {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main form .inpt-par input {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  main form .inpt-par input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input::placeholder {
    font-size: 0.8rem;
  }
  main form .error-msg {
    text-align: center;
    margin: 0.3rem 0 1rem 0;
    padding-left: 0;
  }
  main form button {
    width: 100%;
    margin-left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main .img {
    max-width: 100%;
    margin: 7rem 0;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 15px;
  }
  main {
    margin: 2rem auto 0.5rem auto;
  }
  main .logo {
    width: 3.5rem;
    margin-bottom: 1.5rem;
  }
  main h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  main h2 {
    font-weight: 300;
    font-size: 1rem;
  }
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main form .inpt-par {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main form .inpt-par input {
    font-size: 0.8rem;
  }
  main form .inpt-par input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  main form .inpt-par input::placeholder {
    font-size: 0.8rem;
  }
  main form .error-msg {
    padding-left: 0;
    margin: 0.3rem 0 0.5rem 0;
  }
  main form button {
    font-size: 0.75rem;
  }
  main .img {
    max-width: 100%;
    margin: 3.5rem 0 5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */