@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

// colors
$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);

* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  width: 85%;
  min-height: 100vh;
  padding: 4rem 1.5rem 0 1.5rem;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    color: $gray;
    margin-bottom: 0.5rem;
    strong {
      color: $dark-blue;
    }
  }

  h2 {
    font-weight: 300;
  }

  form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: left;

    .inpt-par {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      flex: 0.8;
    }

    input {
      border: 1px solid lighten($pale-blue, 5%);
      border-radius: 2rem;
      outline: none;
      font-family: "Libre Franklin", sans-serif;
      font-size: 0.9rem;
      padding: 0.8rem 1.7rem;
      width: 100%;
      max-width: 100%;
      transition: 0.2s ease-in all;

      &::placeholder {
        color: $gray;
      }
      &.error::placeholder {
        color: $light-red;
      }

      &:focus {
        box-shadow: 2px 5px 5px rgba($pale-blue, 0.4);
      }

      &.error {
        border-color: $light-red;
      }
    }

    button {
      background: $blue;
      border: none;
      outline: none;
      border-radius: 2rem;
      font-family: "Libre Franklin", sans-serif;
      font-size: 1rem;
      font-weight: 600;
      color: white;
      padding: 0.8rem 3rem;
      margin-left: 1rem;
      cursor: pointer;
      box-shadow: 0px 8px 7px rgba(194, 211, 255, 0.6);
      transition: 0.1s cubic-bezier(0.74, 1.21, 1, 1) all;
      flex: 0.2;
      align-self: flex-start;

      &:hover {
        background: lighten($blue, 5%);
      }

      &:active {
        box-shadow: 0px 5px 5px rgba($pale-blue, 0.5);
        transform: translateY(2px);
      }
    }

    .error-msg {
      color: $light-red;
      font-style: italic;
      font-size: 0.8rem;
      padding-left: 2rem;
      margin-top: 0.8rem;
      visibility: hidden;
    }

    &.error {
      display: inline-block;
    }
  }

  .img {
    max-width: 100%;
    margin: 4rem 0 2rem 0;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;

    li {
      margin: 1rem 1rem 0.5rem 0;

      a {
        text-decoration: none;
        color: $blue;
        border-radius: 50%;
        border: 1px solid $pale-blue;
        font-size: 1.2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.7rem;
        height: 1.7rem;
        transition: 0.2s ease-in all;

        .fab {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
        }
        &:hover {
          background: $blue;
          color: white;
          border-color: $blue;
        }
      }
    }
  }

  footer {
    p {
      color: gray;
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 600px) {
  main {
    min-height: 100vh;
    margin: 4rem auto 0 auto;

    form {
      flex-direction: column;
      text-align: center;

      .inpt-par {
        width: 100%;
        flex: 1;

        input {
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          &::placeholder {
            font-size: 0.8rem;
          }
        }
      }

      .error-msg {
        text-align: center;
        margin: 0.3rem 0 1rem 0;
        padding-left: 0;
      }

      button {
        width: 100%;
        margin-left: 0;
        flex: 1;
      }
    }

    .img {
      max-width: 100%;
      margin: 7rem 0;
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  main {
    min-height: 100vh;
    margin: 0 auto;
    .logo {
      width: 3.5rem;
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-weight: 300;
      font-size: 1rem;
    }

    form {
      flex-direction: column;
      text-align: center;

      .inpt-par {
        width: 100%;
        flex: 1;

        input {
          font-size: 0.8rem;
          &::placeholder {
            font-size: 0.8rem;
          }
        }
      }

      .error-msg {
        padding-left: 0;
        margin: 0.3rem 0 0.5rem 0;
      }

      button {
        font-size: 0.75rem;
      }
    }

    .img {
      max-width: 100%;
      margin: 3.5rem 0 5rem 0;
    }
  }
}
